html {
  background: rgb(76,255,250);
  background: linear-gradient(90deg, rgba(76,255,250,1) 0%, rgba(255,255,255,1) 50%, rgba(255,170,76,1) 100%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #001E6C;
  font-family: fantasy;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;

}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color:#FFAA4C;
}

.nav-text {
  padding:0px 350px;
  border-right: #001E6C;
}

table {
    margin-top: 50px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: center;
    border-style:ridge;
    border-color: blue;
    align-self: center;
    justify-self: center;
}

th {
  background-color: #5089C6;
  color:white;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

tr:hover {
  background: rgb(255,170,76);
  background: linear-gradient(90deg, rgba(255,170,76,1) 38%, rgba(76,255,250,1) 67%);
}

h1 {
  font-size: 50px;
  text-align: center;
  background-color: #001E6C;
  color:white;
  font-family: fantasy;
  cursor: pointer;
  width: 50%;
  align-self: center;  
}

.Adaugare {
  margin-top: 20px;
  font-size: large;
  background-color: #FFAA4C;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: monospace;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  outline: none;
}

.Adaugare:hover {
  box-shadow: whitesmoke;
  background-color: wheat;
}

.Adaugare span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Adaugare span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Adaugare:hover span {
  padding-right: 25px;
}

.Adaugare:hover span:after {
  opacity: 1;
  right: 0;
}

.Adaugare:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.hide {
  display: none;
  font-size: 15px;
  cursor: pointer;
  border-style: double;
  border-radius: 14px;
  border-width: 5px;
  border-color:#001E6C;
}

.Adaugare:hover + .hide {
  display: inline-block;
  color: black;
  background-color :#FFAA4C;
  font-size: 20px;
}

.edit {
  border-color: yellowgreen;
  font-size: 15px;
  cursor: pointer;
  border-style: double;
  border-radius: 14px;
  border-width: 10px;
}

.edit:hover {
  background-color:yellowgreen;
  color: white;
}

.delete {
  border-color: tomato;
  font-size: 15px;
  cursor: pointer;
  border-style: double;
  border-radius: 14px;
  border-width: 10px;
}

.delete:hover {
  background-color: tomato;
  color: white;
}